:root {
    --color: #f76306;
    --color2: rgb(10, 25, 30);
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: "Cursed Timer ULiL Font";
    src: url(CursedTimerUlil-Aznm.ttf);
}


.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}

.card {
    width: 700px;
    max-width: 800px;
    background-image: linear-gradient(to bottom right, #fdb927, #ef4d3e);
    border-radius: 20px;
    transition: all .3s;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px gray;
}

.card2 {
    box-sizing: border-box;
    padding: 20px;
    max-width: 800px;
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.content {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 20px 30px 30px;
}

h1 {
    text-shadow: 1px 1px 3px gray;
    color: #1a1a1a;
    text-align: center;
    letter-spacing: 0.5px;
}

.each {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h3 {
    text-align: center;
    color: #ccc;
    font-size: 2rem;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: 3px;

}

.score {
    font-size: 5rem;
    background: #080001;
    padding: 10px 30px 0;
    border-radius: 10px;
    color: #f76306;
    font-weight: bolder;
    font-family: "Cursed Timer ULiL Font";
}

/* plus boxes */

.plus-boxes {
    display: flex;
    flex-direction: column;
}

.plus,
.sub {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}

.plus-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 8px;
    text-align: center;
    font-family: "Cursed Timer ULiL Font";
    margin: 8px 0;
    background: transparent;
    color: #ccc;
}

/* Reset button */

.reset-btn {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color:#ccc;
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

#reset {
    background: transparent;
}


#leader {
    text-align: center;
    font: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.7rem;
    }

    .h3 {
        font-size: 1.5rem;
    }

    .card,
    .card2 {
        max-width: 350px;
    }

    .content {
        padding: 10px;
    }
}